
.logo-container {
	margin-left: 20px;
	margin-top: 23px;
}

.logo {
	width: 140px;
}

.query-area {
    width: 90%;
}

.search-container {
	margin-left: 50px;
	margin-top: 20px;
	width: 100%;
    overflow-y: auto;
}

.query-box {
	width: 80%;
    padding-left: 5px;
	height: 30px;
	float: left;
}

.query-button {
	float: left;
	margin-left: 10px;
	height: 34px;
}

.chat-capsule {
    float: left;
    margin-bottom: 20px;
    width: 100%;
}

.chat-img {
    float: left;
    margin-right: 20px;
    width: 40px;
}

.chat-img-size {
    float: left;
    width: 40px;
}

.response-type-text {
    margin-top: 8px;
    font-size: 0.8em;
    font-weight: lighter;
}

.chat-title {
    margin-top: 8px;
    font-size: 0.8em;
    font-weight: bold;
}

.chat-url {
    float: none;
    margin-top: 35px;
    color: #1010a0;
    margin-left: 52px;
    font-size: 0.8em;
    cursor: pointer;
}

.chat-msg {
    float: left;
    font-size: 0.9em;
    width: 90%;
    margin-top: 8px;
}

.bot-capsule {
    float: left;
    margin-left: 70px;
    margin-bottom: 20px;
    width: 70%;
    border: 1px solid #78909c;
    border-radius: 4px;
}

.bot-msg {
    float: left;
    font-size: 0.95em;
    width: 90%;
    padding: 20px;
}

.bot-simsage-logo {
    float: left;
    margin-left: 10px;
    margin-top: 10px;
    width: 40px;
}

.bot-simsage-logo-size {
    width: 40px;
}

.bot-link {
    float: left;
    margin-left: 70px;
    margin-bottom: 10px;
}

.hl1 {
    font-weight: 700;
    background-color: #ffffa0;
}

.hl2 {
    font-weight: 700;
    background-color: #ddd;
}

.hl3 {
    font-weight: 700;
    background-color: #eee;
}

.image-container {
    width: 80%;
    margin-left: 100px;
}

.image {
    width: 25%;
    max-width: 300px;
    margin-left: 10px;
}


.searchInsideNav {
    margin-top: 5px;
    margin-left: 5px;
    float: left;
}
.insideNavButtonStyle {
    width: 16px;
    float: left;
    background-color: #d0d0d0;
    margin-right: 3px;
    padding: 2px;
    color: #808080;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.insideNavButtonStyleDisabled {
    width: 16px;
    float: left;
    background-color: #d0d0d030;
    margin-right: 3px;
    padding: 2px;
    color: #80808030;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}



.paginationNav {
    margin-top: 25px;
    margin-left: 20px;
    float: left;
}
.paginationButton {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    width: 60px;
    height: 20px;
    float: left;
    background-color: #d0d0d0;
    margin-right: 3px;
    padding: 2px;
    color: #000;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.paginationButtonDisabled {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    width: 60px;
    height: 20px;
    float: left;
    background-color: #d0d0d030;
    margin-right: 3px;
    padding: 2px;
    color: #80808030;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.search-area {
    float: left;
}

.answer-container {
    width: 100%;
    min-width: 400px;
    margin-top: 10px;
    float: left;
    overflow-y: auto;
    margin-left: 50px;
}

.semantic-entry {
}

.semantic-key {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 0.9em;
    font-weight: bold;
}

.semantic-value-container {
    max-height: 80px;
    overflow-y: auto;
    overflow-x: hidden;
    white-space: nowrap;
    margin-bottom: 20px;
}

.semantic-value {
    font-size: 0.8em;
    margin-left: 15px;
}

.search-summary {
    float: right;
    margin-right: 100px;
}

.result-page {
    float: left;
    font-size: 0.9em;
    margin-right: 20px;
}

.result-count {
    font-size: 0.9em;
    margin-top: 10px;
    margin-left: 70px;
}


.toggle-advanced-search-button {
    margin-left: 20px;
    margin-top: 14px;
    padding-left: 5px;
    padding-right: 5px;
}

#advancedSearch {
    display: none;
}

.search-label {
    font-size: 0.8em;
    width: 100px;
    text-align: right;
    margin-right: 10px;
    display: inline-block;
}

.metadata-area {
    position: absolute;
    top: 140px;
    right: 10px;
    padding: 10px;
    background: #f0f0f0;
    border: 1px solid #d0d0d0;
    border-radius: 4px;
}

.metadata-title {
    text-align: center;
    font-size: 1.2em;
}

.metadata-author {
    padding: 10px;
}

.metadata-url {
    padding: 10px;
}

.metadata-type {
    padding: 10px;
}

.metadata-text {
    width: 200px;
    border-radius: 4px;
    padding: 4px;
    border: 0;
}

.metadata-buttons {
    float: right;
}

.advanced-search-tick {
    margin-left: -1px;
    display: none;
}

.advanced-search-tick-image {
    width: 16px;
}