
a:link {
  color: #333;
}

a:visited {
  color: #555;
}

a:hover {
  color: #666;
}

a:active {
  color: #666;
}

.no-select {
	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-user-select: none; /* Safari */
	-moz-user-select: none; /* Old versions of Firefox */
	-ms-user-select: none; /* Internet Explorer/Edge */
	user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

.body-style {
	background-color: #2193dc;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 1024px;
}

.centered-page {
	margin-top: 10px;
	text-align: center;
}

/****** search box ******/

.search-centered-page {
	margin-top: 10px;
	text-align: center;
	width: 98%;
}

.search-control {
	margin-top: 50px;
	display: inline-block;
}

.advanced-search {
	float: left;
}

.select-style {
	float: left;
	display: none;
	padding-top: 20px;
	padding-bottom: 0;
	padding-left: 14px;
	font-size: 0.9em;
	color: #757da0;
	background-color: #f7fafe;
	font-weight: 800;
	height: 40px;
	width: 60px;
	border: none ! important;
	box-shadow: none ! important;
	outline: none ! important;
	cursor: pointer;
}

.select-style-has-selection {
	float: left;
	padding-top: 20px;
	padding-bottom: 0;
	padding-left: 14px;
	font-size: 0.9em;
	color: #757da0;
	background-color: #c7cace;
	font-weight: 800;
	height: 40px;
	width: 60px;
	border: none ! important;
	box-shadow: none ! important;
	outline: none ! important;
	cursor: pointer;
}

.select-text {
	margin-top: 4px;
	float: left;
}

.select-triangle {
	float: right;
	margin-top: 4px;
	padding-right: 8px;
}

.triangle-image {
	margin-top: -2px;
	width: 16px;
}

.search-text-box {
	float: left;
}

.input-text {
	width: 600px;
	padding: 5px;
	height: 60px;
	font-size: 1.2em;
	font-weight: 600;
    border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
}

.input-text:focus {
	width: 600px;
	padding: 5px;
	height: 60px;
	font-size: 1.2em;
	font-weight: 600;
    border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
}

.search-button-box {
	float: left;
	padding: 10px;
	border-radius: 2px;
	background: #f5a623;
	box-shadow: -2px 0 2px 1px #aaaaaa;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.search-image {
	margin-left: 6px;
	margin-top: 8px;
	width: 22px;
	color: #fff;
}

.operator-button-box {
	float: left;
	margin-left: 10px;
	padding: 6px;
	background: #557;
	width: 54px;
	height: 54px;
	cursor: pointer;
	border-radius: 50%;
}

.operator-button-box-connected {
	float: left;
	margin-left: 10px;
	padding: 6px;
	background: #c55;
	width: 54px;
	height: 54px;
	cursor: pointer;
	border-radius: 50%;
}

.operator-image {
	margin-left: 4px;
	margin-top: 8px;
	width: 34px;
	color: #fff;
}


/****** advanced search ******/


.advanced-search-area {
	text-align: left;
	display: inline-block;
	line-height: 40px;
	margin-top: -10px;
	border-radius: 0 0 4px 4px;
	margin-left: -80px;
	width: 652px;
	margin-right: 58px;
}

.floaty {
	padding: 10px;
	position: absolute;
	background-color: #f7fafe;
	z-index: 99;
	box-shadow: 6px 6px 0 0 #00000044;
}

.search-label {
	margin-left: 20px;
	color: #757da0;
	display: inline-block;
	width: 200px;
}

.metadata-buttons {
	color: #fff;
	padding: 5px;
	background: #f5a623;
	width: 50px;
	height: 30px;
	margin-left: 584px;
	cursor: pointer;
}

.metadata-button-clear {
	margin-top: -6px;
	margin-left: 5px;
	font-weight: 600;
}

.metadata-text {
	color: #757da0;
	padding: 7px;
	width: 300px;
    border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
}

.metadata-text:focus {
	color: #757da0;
	padding: 7px;
	width: 300px;
    border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
}

.adv-search-item-select {
	padding: 4px;
	color: #757da0;
	width: 300px;
	line-height: 20px;
	background-color: #fff;
	border: 0;
}

/********** semantics **********/

.semantic-container {
	float: right;
	margin-right: 2px;
	width: 16%;
	vertical-align: text-top;
	margin-top: 2px;
}

.semantic-entry {
	width: 94%;
	text-align: left;
	background-color: #e7eaee;
	padding: 2px;
	border-radius: 10px;
	margin-bottom: 4px;
}

.semantic-title {
	font-weight: 600;
	color: #333;
	font-size: 0.9em;
	margin-top: 10px;
	cursor: default;
}

.semantic-text {
	color: #757da0;
	font-size: 0.8em;
	cursor: pointer;
}

/********** context **********/

.context-container {
	float: right;
	margin-right: 2px;
	width: 16%;
	vertical-align: text-top;
	margin-top: 2px;
}

.context-entry {
	width: 94%;
	text-align: left;
	background-color: #d7dade;
	padding: 2px;
	border-radius: 10px;
	margin-bottom: 4px;
}

.context-title {
	padding-left: 10px;
	padding-bottom: 4px;
	color: #333;
	font-size: 0.9em;
	margin-top: 10px;
	cursor: default;
}

.spacer {
	height: 10px;
}

/****** search result container ******/

.search-background {
	background-color: #eee;
	padding: 10px;
	margin-left: 2%;
	border-radius: 10px;
}

.search-result {
	float: left;
	width: 80%;
	margin-top: 4px;
	color: #757da0;
	background-color: #f7fafe;
	border-radius: 2px;
	display: inline-block;
	text-align: left;
	padding: 10px;
}

.search-text-container {
	float: left;
	width: 82%;
}

.search-title {
	color: #333;
	overflow: no-display;
	line-height: 40px;
	font-size: 1.1em;
	cursor: pointer;
}

.search-container {
	width: 100%;
}

.search-left-right {
	float: left;
	width: 80px;
	display: inline-block;
	margin-top: 6px;
	vertical-align: top;
}

.search-text {
	float: left;
	display: inline-block;
	width: calc(98% - 80px);
	margin: 5px;
	font-size: 0.9em;
}

.preview-image-container {
	float: right;
	margin-right: 5px;
	cursor: pointer;
}

.preview-image {
	width: 100px;
	height: 100px;
}

.image-view-container {
	float: left;
	width: 78%;
}

.search-result-images {
	float: left;
	width: 38%;
	margin-top: 4px;
	margin-right: 4px;
	color: #757da0;
	background-color: #f7fafe;
	text-align: left;
	padding: 10px;
	height: 400px;
}

.search-container-images {
	float: left;
	text-align: center;
	width: 100%;
}

.preview-image-container-images {
	cursor: pointer;
	margin-bottom: 5px;
}

.search-title-images {
	clear: both;
	color: #333;
	margin-top: 5px;
	padding: 5px;
	font-size: 0.9em;
	cursor: pointer;
	width: 98%;
	text-align: center;
	font-weight: 600;
}

.preview-image-big {
	width: 90%;
	max-width: 340px;
	height: 340px;
}

.search-url {
	margin-top: 10px;
	margin-left: 90px;
	margin-bottom: 10px;
	font-size: 0.9em;
}

.search-nav {
	background-color: #ccc;
	float: left;
	color: #fff;
	padding: 6px;
	width: 16px;
	margin-left: 2px;
	margin-right: 5px;
	border-radius: 50%;
	cursor: pointer;
	outline: 0;
}

.search-nav-disabled {
	background-color: #eee;
	float: left;
	color: #ccc;
	padding: 6px;
	width: 16px;
	margin-left: 2px;
	margin-right: 5px;
	border-radius: 50%;
	cursor: default;
	outline: 0;
}

.powered-by {
	position: absolute;
	bottom: 4px;
	right: 4px;
}


/**** highlights ****/

.hl1 {
    font-weight: 700;
    background-color: #ffffa0;
}

.hl2 {
    font-weight: 700;
    background-color: #ddd;
}

.hl3 {
    font-weight: 700;
    background-color: #eee;
}


/***** pagination at the bottom *****/

.pagination {
	width: 95%;
	margin-top: 4px;
	color: #757da0;
	background-color: #f7fafe88;
	display: inline-block;
	text-align: left;
	padding: 10px;
}

.prev-next {
	float: right;
}

.page-nav-arrow-left {
	float: left;
	margin-left: 4px;
	margin-top: 2px;
	width: 12px;
}

.page-nav-arrow-right {
	float: right;
	margin-right: 4px;
	margin-top: 2px;
	width: 12px;
}

.pagination-text {
	float: left;
	margin-top: 2px;
	color: #555d80;
	font-size: 0.9em;
}

.pagination_button {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    width: 60px;
    height: 20px;
    float: left;
    background-color: #d0d0d0ff;
    margin-right: 3px;
    padding: 2px;
    color: #000;
    border-radius: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pagination_button_disabled {
    font-size: 0.8em;
    text-align: center;
    font-weight: bold;
    width: 60px;
    height: 20px;
    float: left;
    background-color: #d0d0d0aa;
    margin-right: 3px;
    padding: 2px;
    color: #888;
    border-radius: 2px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


/********** details preview *************/

.details-page {
	position: absolute;
	top: 20px;
	left: 20px;
	width: 78%;
	height: 92%;
	background-color: #efefef;
	z-index: 200;
	box-shadow: 6px 6px 0 0 #00000044;
	min-width: 1024px;
	max-width: 1124px;
}

.search-container-summary {
	width: 100%;
}

.details-title {
	float: left;
	horiz-align: center;
	text-align: center;
	background-color: #555;
	color: #eee;
	font-size: 1.4em;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.details-pane {
	float: left;
	width: 100%;
}

.details-text {
	float: left;
	margin-top: 30px;
	margin-left: 10px;
	background-color: #d7dade;
	width: 500px;
	height: 70vh;
	padding: 10px;
	border-radius: 2px;
}

.details-preview-image-box {
	float: left;
	padding: 10px;
	margin-top: 30px;
	margin-right: 10px;
	margin-left: 10px;
	height: 70vh;
}

.details-preview-image {
	height: 70vh;
}

.details-item {
	clear: both;
	margin-left: 10px;
	margin-bottom: 30px;
	padding: 5px;
}

.details-item-text {
	margin-left: 10px;
	padding: 5px;
}

.details-label {
	float: left;
	color: #757da0;
	font-size: 1.2em;
	margin-top: -2px;
	font-weight: 100;
	width: 170px;
}

.details-label-text {
	float: left;
	color: #333;
	font-size: 1.0em;
	font-weight: 500;
}

.details-label-text-url {
	float: left;
	color: #333;
	font-size: 1.0em;
	font-weight: 500;
	cursor: pointer;
}

.details-close-container {
	float: right;
	margin-right: 12px;
}

.details-close-image {
	width: 24px;
}

/******* search view type switches *********/

.view-type-container {
	float: right;
	margin-right: 4px;
	margin-top: 4px;
}

.view-type {
	float: left;
	margin-right: 4px;
}

.view-type-selected {
	float: left;
	margin-right: 4px;
	border-bottom-color: black;
	border-bottom-style: solid;
	border-bottom-width: 2px;
}

.view-image-1 {
	margin-top: 2px;
	width: 20px;
}

.view-image-2 {
	width: 24px;
}

.sign-in-image {
	width: 24px;
	border-radius: 50%;
}

/***** error message box ******/

.error-dialog {
	position: absolute;
	padding: 20px;
	bottom: 0;
	background-color: #f44336; /* Red */
	border-radius: 5px;
	color: white;
	width: 80%;
	margin-bottom: 15px;
}

/* The close button */
.close-button {
	margin-left: 15px;
	color: white;
	font-weight: bold;
	float: right;
	font-size: 22px;
	line-height: 20px;
	cursor: pointer;
	transition: 0.3s;
}

/* When moving the mouse over the close button */
.close-button:hover {
	color: black;
}

/******* sign-in ********/

.sign-in-view-type {
	display: none;
	float: left;
	margin-right: 4px;
	background-image: url(../images/signin.svg);
	background-size: contain;
	width: 24px;
	height: 24px;
}

.signed-in-view-type {
	float: left;
	margin-right: 4px;
	background-image: url(../images/signout.svg);
	background-size: contain;
	width: 24px;
	height: 24px;
}

@keyframes pulse {
	0% {
		background-color: #333;
	}
	50% {
		background-color: #fff;
	}
	100% {
		background-color: #333;
	}
}

.sign-in-form-popup {
	display: none;
    position: fixed;
    top: 10px;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: #fff;
	box-shadow: 4px 4px #00000044;
    padding: 10px;
    border-radius: 5px;
    width: 300px;
}

.sign-in-form-popup h1 {
    font-size: 1.2em;
    text-align: center;
}

.domain-container {
	margin-bottom: 10px;
}

.domain-item-select {
	padding: 5px;
	color: #757da0;
	width: 100%;
	background: #f1f1f1;
	border: 0;
}

.domain-item-select:focus {
	background-color: #ddd;
	outline: none;
}

.sign-in-email {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.sign-in-email:focus {
    background-color: #ddd;
    outline: none;
}

.sign-in-password {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	border: none;
	background: #f1f1f1;
}

.sign-in-password:focus {
	background-color: #ddd;
	outline: none;
}

.sign-in-button {
    text-align: center;
}

.sign-in-btn {
	background-color: #4CAF50;
	color: white;
	padding: 16px 20px;
	border: none;
	cursor: pointer;
	width: 40%;
	margin-bottom:10px;
	opacity: 0.8;
    margin-right: 10px;
}

.sign-in-btn:hover {
	opacity: 1;
}

.sign-in-cancel {
	background-color: red;
}

/**** ask user for email address ****/

.no-results-centered-page {
	display: none;
	margin-left: 25%;
	margin-top: 30px;
	color: #fff;
	font-size: 0.9em;
}

.no-email-ask {
	width: 50%;
	margin-top: 10px;
	padding: 15px;
	color: #fff;
}

.email-ask {
	width: 50%;
	margin-top: 10px;
	padding: 15px;
	margin-left: 10px;
	margin-right: 30px;
	border-radius: 4px;
	font-size: 14px;
	height: 120px;
	color: #333;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
	box-shadow: 5px 5px 5px 5px #00000044;
}

.no-email-ask {
	width: 50%;
	margin-top: 10px;
	padding: 15px;
	margin-left: 10px;
	margin-right: 30px;
	border-radius: 4px;
	font-size: 14px;
	color: #333;
	background-color: #fff;
	-webkit-box-shadow: 1px 1px rgba(100, 100, 100, 0.1);
	box-shadow: 5px 5px 5px 5px #00000044;
}

.email-address {
	padding: 5px;
	float: left;
	margin-left: 10px;
	margin-top: 10px;
	font-size: 14px;
	width: 70%;
	background-color: #fff;
}

.send-email-button {
	float: left;
	margin-top: 12px;
	margin-left: 20px;
}

.send-email-button:before {
	float: right;
	color: #f05050;
	font-family: 'Material Icons', serif;
	font-size: 35px !important;
	content: '\e0be';
}

/**** assistant text ****/

.bubble-centered-page {
	margin-left: 30%;
}

.bubble-speech-container {
	width: 55%;
	display: none;
	overflow: hidden;
	text-align: left;
	margin-top: 10px;
	padding: 10px;
	padding-bottom: 20px;
	background: #f0f3f7;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px #00000044;
}

.bubble-speech-container-floating {
	z-index: 88;
	position: absolute;
	width: 55%;
	left: 20%;
	top: 150px;
	background: #f0f3f7;
	border-radius: 10px;
	box-shadow: 5px 5px 5px 5px #00000044;
	padding: 10px;
}

.bubble-speaker-icon {
	padding-left: 2px;
}

.bubble-close-icon {
	float: right;
}

.bubble-close-image {
	width: 24px;
}

.bubble-text {
	margin-left: 35px;
	padding: 5px;
	font-size: 0.9em;
	margin-bottom: 5px;
}

.bubble-speaker-icon:after {
	font-family: 'Material Icons', serif;
	float: left;
	font-size: 2.0em;
	color: #808080;
	content: '\e853';
}

.bubble-link {
	position: relative;
	margin-bottom: 10px;
	margin-left: 5px;
}

.bubble-link:link {
	color: #333;
}

.bubble-link:visited {
	color: #666;
}

.bubble-link:hover {
	color: #999;
}

.bubble-link:active {
	color: #999;
}

.bot-buttons {
	margin-left: 5%;
	width: 80%;
	min-height: 30px;
	float: left;
	margin-top: 10px;
	padding: 5px;
	text-align: center;
	font-size: 0.9em;
}

.bot-button {
	float: left;
	border-radius: 2px;
	background: #f5a623;
	box-shadow: -2px 0 2px 1px #aaaaaa;
	padding: 4px 2px 2px;
	color: #333;
	margin-right: 10px;
	margin-bottom: 5px;
	width: 100px;
	height: 20px;
	cursor: pointer;
}

.busy-image-container {
	margin-left: 20px;
	width: 60px;
}

.busy-image {
	width: 60px;
}

.synset-selector {
	padding: 4px;
	display: inline-block;
	margin-left: 4px;
	margin-right: 8px;
	color: #757da0;
	background-color: #eee;
	font-size: 0.8em;
	cursor: pointer;
	border: 0;
	line-height: 20px;
}
